In [1]:
# pandas
import pandas as pd

# random
import random

# NLTK packages
import nltk
from nltk.tokenize import word_tokenize
from nltk.tokenize import sent_tokenize
from nltk.tag import pos_tag as pos_tagger
from nltk import UnigramTagger

# Textblob
from textblob import TextBlob

In [2]:
#import the json-file and put it in a dataframe
df = pd.read_json('reviewSelected100.json', lines=True, encoding = "ISO-8859-1")

#dataframe
df

,review_id,user_id,business_id,stars,useful,funny,cool,text,date
0,8aoJJdKEO3ypoZNszpPu7Q,bGgAL09pxLnV_FFgR4ZADg,ZBE-H_aUlicix_9vUGQPIQ,5,0,0,0,We had my Mother's Birthday Party here on 10/2...,2016-11-09 20:07:25
1,J5NOCLdhuhor7USRhtYZ8w,pFCb-1j6oI3TDjr26h2cJQ,e-YnECeZNt8ngm0tu4X9mQ,4,0,0,0,Good Korean grill near Eaton Centre. The marin...,2015-12-05 05:06:43
2,PXiLWAYRt3xnHaJ8MB4rzw,mEzc6LeTNiQgIVsq3poMbg,j7HO1YeMQGYo3KibMXZ5vg,5,2,1,3,Was recommended to try this place by few peopl...,2014-10-11 05:16:15
3,VrLarvxZYJm74yAqtpe9PQ,o-zUN2WEZgjQS7jnNsec0g,7e3PZzUpG5FYOTGt3O3ePA,3,0,0,0,Ambience: Would not expect something this nice...,2016-07-25 03:45:26
4,C1CUpidlVFprUCkApqzCmA,Wlx0iBXJvk4x0EeOt2Bz1Q,vuHzLZ7nAeT-EiecOkS5Og,1,11,0,3,Absolutely the WORST pool company that I have ...,2016-04-11 18:49:11
...,...,...,...,...,...,...,...,...,...
15295,qknwFVEh_0KSuexigYBI_A,YMGmyPOU65SMs4H60ltYiw,shIPnFoXrL3dFo5HLH1_HA,1,2,0,0,This was the worst experience ever. So much so...,2014-07-12 21:58:15
15296,Y-ZRoyAXCukBK1uK1ZcZCA,JLhOWQiWtGbr14K_KmoWxA,zPEYgVqJ2QNKi45FJi2jvg,5,0,0,0,We come here every time we hit Vegas! A giant ...,2018-11-10 21:38:49
15297,A8HdjBfhj3pgQuSbwNtDEw,6CoiKFDFXIACJZvv_I_8mQ,zPEYgVqJ2QNKi45FJi2jvg,1,0,1,0,As locals we used to the this place when it w...,2018-10-13 22:11:22
15298,2n1QdrYBRAAe6GKaxEV0jA,_fH4s3ls08eSl_PfX38KIA,etzDsNjkCyQBoJcU2a3U-g,5,0,0,0,The food was delicious. We were seated in 15 m...,2015-02-15 08:43:46
15299,4B9k5hmmLWV_lhIYvVcPWA,msRUiBE7Sa5A9145ZdFBow,9Xm2GfG8Rnbb1_CmXyrm3g,5,0,0,0,Wonderful spot (the patio) and OH SO EXCELLENT...,2018-10-06 19:00:13

In [4]:
#select all the text
text = df['text'].astype('str') 

#join all the text into one string
all_text = ''.join(map(str, text))


#full string
#all_text

In [5]:
#separating the string into sentences
sentences = sent_tokenize(all_text)

#sentences

In [6]:
#select 5 random sentences
random_5_sentences = random.choices(sentences, k=5)

pd.options.display.max_colwidth = 300
pd.DataFrame(random_5_sentences, columns=['sentence'])

                                                                                                                                          sentence
0                                                                             So at that point, we were out of there, totally put-off and annoyed.
1                        1.called to order, lady who took my order spoke clearly and followed me, not someone half listening trying to multi task.
2  And here I foolishly thought that doling out $4.99 for a tub of Dazs or Ben 'n Jerry's was an indulgence... Move aside and make space for Ed's!
3                                                                                            The freshly made food items are unique and delicious.
4                                                                                                              I have been going there since 2010.

In [8]:
def pos_tag(chosen_sentence):
    # using NLTK
    random_sentence_nltk = nltk.pos_tag(word_tokenize(chosen_sentence))

    # using textblob
    random_sentence_blob = TextBlob(chosen_sentence)
    random_sentence_blob.tags

    # respective table
    table_sentence_nltk = pd.DataFrame(random_sentence_nltk, columns=['word', 'POS_Tag'])
    table_sentence_blob = pd.DataFrame(random_sentence_blob.tags, columns=['word', 'POS_Tag'])
                                        
    return table_sentence_nltk, table_sentence_blob

In [9]:
# Function for display two tables side by side
from IPython.display import display_html
from itertools import chain,cycle
def display_side_by_side(*args,titles=cycle([''])):
    html_str=''
    for df,title in zip(args, chain(titles,cycle(['</br>'])) ):
        html_str+='<th style="text-align:center"><td style="vertical-align:top">'
        html_str+=f'<h2>{title}</h2>'
        html_str+=df.to_html().replace('table','table style="display:inline"')
        html_str+='</td></th>'
    display_html(html_str,raw=True)

In [15]:
#nltk.download('averaged_perceptron_tagger')
for i in range(len(random_5_sentences)):
    nltk_s, textb_s = pos_tag(random_5_sentences[i])
    print("---------- Sentence "+ str(i+1) + " ----------")
    print("Sentence: " + random_5_sentences[i])
    display_side_by_side(nltk_s, textb_s, titles=['NLTK','TextBlob'])

---------- Sentence 1 ----------
Sentence: So at that point, we were out of there, totally put-off and annoyed.

,word,POS_Tag
0,So,RB
1,at,IN
2,that,DT
3,point,NN
4,",",","
5,we,PRP
6,were,VBD
7,out,RB
8,of,IN
9,there,RB
10,",",","
11,totally,RB
12,put-off,JJ
13,and,CC
14,annoyed,JJ
15,.,.
,word,POS_Tag
0,So,RB
1,at,IN
2,that,DT
3,point,NN
4,we,PRP
5,were,VBD
6,out,RB
7,of,IN
8,there,RB
9,totally,RB
10,put-off,JJ
11,and,CC
12,annoyed,JJ

---------- Sentence 2 ----------
Sentence: 1.called to order, lady who took my order spoke clearly and followed me, not someone half listening trying to multi task.

,word,POS_Tag
0,1.called,CD
1,to,TO
2,order,NN
3,",",","
4,lady,NN
5,who,WP
6,took,VBD
7,my,PRP$
8,order,NN
9,spoke,VBD
10,clearly,RB
11,and,CC
12,followed,VBD
13,me,PRP
14,",",","
15,not,RB
16,someone,NN
17,half,NN
18,listening,VBG
19,trying,VBG
20,to,TO
21,multi,VB
22,task,NN
23,.,.
,word,POS_Tag
0,1.called,CD
1,to,TO
2,order,NN
3,lady,NN
4,who,WP
5,took,VBD
6,my,PRP$
7,order,NN
8,spoke,VBD
9,clearly,RB
10,and,CC
11,followed,VBD
12,me,PRP
13,not,RB
14,someone,NN
15,half,NN
16,listening,VBG
17,trying,VBG
18,to,TO
19,multi,VB
20,task,NN

---------- Sentence 3 ----------
Sentence: And here I foolishly thought that doling out $4.99 for a tub of Dazs or Ben 'n Jerry's was an indulgence... Move aside and make space for Ed's!

,word,POS_Tag
0,And,CC
1,here,RB
2,I,PRP
3,foolishly,VBP
4,thought,VBN
5,that,IN
6,doling,VBG
7,out,RP
8,$,$
9,4.99,CD
10,for,IN
11,a,DT
12,tub,NN
13,of,IN
14,Dazs,NNP
15,or,CC
16,Ben,NNP
17,',POS
18,n,NN
19,Jerry,NNP
20,'s,POS
21,was,VBD
22,an,DT
23,indulgence,NN
24,...,:
25,Move,NNP
26,aside,RB
27,and,CC
28,make,VB
29,space,NN
30,for,IN
31,Ed,NNP
32,'s,POS
33,!,.
,word,POS_Tag
0,And,CC
1,here,RB
2,I,PRP
3,foolishly,VBP
4,thought,VBN
5,that,IN
6,doling,VBG
7,out,RP
8,4.99,CD
9,for,IN
10,a,DT
11,tub,NN
12,of,IN
13,Dazs,NNP
14,or,CC
15,Ben,NNP
16,',POS
17,n,NN
18,Jerry,NNP
19,'s,POS
20,was,VBD
21,an,DT
22,indulgence,NN
23,Move,NNP
24,aside,RB
25,and,CC
26,make,VB
27,space,NN
28,for,IN
29,Ed,NNP
30,'s,POS

---------- Sentence 4 ----------
Sentence: The freshly made food items are unique and delicious.

,word,POS_Tag
0,The,DT
1,freshly,NN
2,made,VBD
3,food,NN
4,items,NNS
5,are,VBP
6,unique,JJ
7,and,CC
8,delicious,JJ
9,.,.
,word,POS_Tag
0,The,DT
1,freshly,NN
2,made,VBD
3,food,NN
4,items,NNS
5,are,VBP
6,unique,JJ
7,and,CC
8,delicious,JJ

---------- Sentence 5 ----------
Sentence: I have been going there since 2010.

,word,POS_Tag
0,I,PRP
1,have,VBP
2,been,VBN
3,going,VBG
4,there,RB
5,since,IN
6,2010,CD
7,.,.
,word,POS_Tag
0,I,PRP
1,have,VBP
2,been,VBN
3,going,VBG
4,there,RB
5,since,IN
6,2010,CD

### Observation
Both NLTK and TextBlob produces the same POS_TAG, just that NLTK takes into consideration punctuations as well.